*{
    margin: 0;
    padding: 0;
    
}
.carousel-item{
    max-height: 500px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    justify-items: center;
    justify-content: space-around;
   
}
.card{
    width: 200px;
    height: 200px;  
    text-align: center;
    border: 1px solid white !important; 
    border-radius: 50% !important;
}
.card img{
    border-radius: 50%;
    width: 80%;
}
#Segundo{
    margin-top: 50px;
}
#Terceiro{
    margin-top: 80px;
}
.Sobre{
    text-align: center;
    background-color: #fdd4dd;
    padding: 1rem 0 1rem 0;
    margin: 0 2rem 3rem 2rem;
    border: 2px #fdd4dd solid;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
}
.Link{ 
    margin: 0 2rem 3rem 2rem;
    border-radius: 1rem; 
    max-height: 500px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media (min-width:1001px) and (max-width:1200px){
.cards{
    gap: 2px;
 }
}

@media (min-width:768px) and (max-width:1000px){
.cards{
    display: flex;
    gap: 2px;
}
.cards img{
    width: 60%;    
}
}

@media (min-width:400px) and (max-width:767px){
.cards{
    display:flex;
    gap: 2.5px;    
}
.cards img{
    width: 60%;    
}
#Terceiro{
    margin-top: 50px;
}
}
