*{
    margin: 0;
    padding: 0;
}
.footer
{
    width: 100%;
}
.rodape{
   position: absolute;
    bottom: -125px;
    width: 100%;
    left: 0;  
}
.container-rodape{
    background-color: #fdd4dd;
    padding-top: 1.5%;
    width: 100%;
}
.rodape{
    background: #fdd4dd;
}
footer ul {
    display: flex;
    justify-content:space-around;
    list-style: none;
    gap: 5rem;
    margin: 0 13% 0 5%;
}

footer a{
    display: flex;
    justify-content: center;
}
footer a.text-center{
    text-decoration: none;
    color: black ;
}
footer a.text-center:hover{
    color: var(--rosaEscuro);
}
footer .Cliente{
    background-color: #ffb4c4;
    display: flex;
    justify-content: center;
}
footer .Cliente p{
    margin: 0;
}
footer .svg{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    
}
footer .redes .svg{
    margin: 16% 24px ;
}
footer .svg a{
    text-decoration: none;
}
footer h6{
    font-family: 'Inter';
    font-style: normal;

}

footer .tel{
    margin-left: 1%;
}
footer .termo{
    display: flex;
    margin: 0 20rem 0 20rem !important;
    justify-content: center;
    list-style: none;
    gap: 5rem; 

}
footer .termo a{
    text-decoration: none;
    color: black  !important;
}

@media (min-width:1001px) and (max-width:1200px){
    
    
    footer .termo a{
        white-space: nowrap;

    }
}
@media (min-width:768px) and (max-width:1000px){
    *{
        margin: 0;
        padding: 0;
    }
    footer .container-rodape{
        background-color: #fdd4dd;
        width: 100%;
    }
    footer ul{
    display: flex;  
    margin: 0 5rem 0 13rem !important;
    list-style: none; 
    }
    footer ul h6{
        text-decoration: solid; 
        white-space: nowrap;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center !important;
              
    }
    footer .h6{
        align-items: center !important;
        text-align: center !important;
    }
    footer .ter{
        display: flex;
        align-items: center;
        margin-right: 0;
    }
    footer .redes{
        margin-bottom: 2rem;
                
    }
    footer .svg{
        display: flex;
        justify-content: center;
    }
    footer .Cliente{
        background-color: #ffb4c4;
    }
    footer .Cliente p{
        margin: 0;
    }

    footer .termo a{
        white-space: nowrap;

    }
    
        
}
@media (min-width:400px) and (max-width:767px){
    
    footer .termo a{
        margin: 0;
        white-space: normal;
        margin-left: 10%;
        
    }
    footer .termo{
        margin: 0 !important;
        justify-content: center;
        list-style: none;
        gap: 1.5rem !important; 
    
    }
    *{
        margin: 0;
        padding: 0;
    }
    .rodape{
        position: absolute;
        top: 100%;
        left: 0;
    }
    footer .container-rodape{
        background-color: #fdd4dd;
        width: 100%     
    }
    .text-center {
        text-align: center!important;
        margin: 8px;
    }
    
    footer ul{
    list-style: none; 
    display: block;
    }
    footer ul h6{
        text-decoration: solid; 
        white-space: nowrap;
        margin-top: 1rem;
         text-align: center !important;
              
    }
    .h6{
        align-items: center !important;
        text-align: center !important;
        font-size: 10px;
    }
    footer .ter{
        display: flex;
        align-items: center;
        margin-right: 0;
    }
    footer .redes{
        margin-bottom: 3rem;
                
    }
    footer .svg{
        display: flex;
        justify-content: center;
    }
    footer .redes .svg{
        margin: 10% ;
    }
    footer .Cliente{
        background-color: #ffb4c4;       
    }
    footer .Cliente p{
        margin: 1%;
        font-size: 15px;
        text-align: center;
    }

}


 
